<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>주소로 장소 표시하기</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3e3c4a06e8b12265882be6c8b2e58ff3&libraries=services"></script>
</head>
<body>
<div id="map" style="width:500px;height:800px;"></div>
<form action="/" method="get">
    <select name="ch">
        <option value="Sox" selected>황산화물</option>
        <option value="Hcl">염화수소</option>
        <option value="Tsp">먼지</option>
        <option value="Hf">불화수소</option>
        <option value="Nh3">암모니아</option>
        <option value="Co">일산화탄소</option>
        <option value="Sum">합계</option>
    </select>
    <button type="submit">정렬</button>
</form>

<script th:inline="javascript">
    function calculateDistance(speed, time) { //원의 반경
        return speed * time * 60;
    }


    function abc(center, radius, direction2) { // 그그그 그그그 직선의 끝점

        var directionRadians = (Math.PI / 180) * direction2;
        var deltaLat = (radius * Math.cos(directionRadians)) / 110540;
        var deltaLng = (radius * Math.sin(directionRadians)) / (111320 * Math.cos(center.getLat() * (Math.PI / 180)));

        var newLat = center.getLat() + deltaLat;
        var newLng = center.getLng() + deltaLng;

        return new kakao.maps.LatLng(newLat, newLng);
    }
    function mapApi(){
        // 주소-좌표 변환 객체 생성
        var geocoder = new kakao.maps.services.Geocoder();
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(36.3625, 127.7),
                level: 13
            };
        var map = new kakao.maps.Map(mapContainer, mapOption);

        var ssdcyList3 = [[${ssdcyList2}]].filter(function(ssdcy) {
            return ssdcy["${ch}"] !== 0;
        });

        ssdcyList3.slice(0, 6).forEach(function(ssdcy) {
            geocoder.addressSearch(ssdcy.address, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords,
                        title: ssdcy.name
                    });

                    var colors = ['#FF6347', '#FF4500', '#FF0000'];
                    var windSpeed = 10;
                    var windDirection = 90;

                    var a; // 이거 직선 끝점
                    [30, 60, 90].forEach(function(time, index) { // 30 60 90분
                        var distance = calculateDistance(windSpeed, time);
                        var circleRadius = distance / 2;
                        var circle = new kakao.maps.Circle({
                            center: coords,
                            radius: circleRadius,
                            strokeWeight: 5,
                            strokeColor: colors[index],
                            strokeOpacity: 0.8 - (index * 0.2),
                            strokeStyle: 'dashed',
                            fillColor: colors[index],
                            fillOpacity: 0.5 - (index * 0.15)
                        });
                        circle.setMap(map);

                        if (index === 2) {
                            a = abc(coords, circleRadius, windDirection);
                        }
                    });

                    if (a) { // 직선 그리기
                        var linePath = [coords, a];
                        var polyline = new kakao.maps.Polyline({
                            path: linePath,
                            strokeWeight: 5,
                            strokeColor: '#FFAE00',
                            strokeOpacity: 0.7,
                            strokeStyle: 'solid'
                        });
                        polyline.setMap(map);
                    }
                }
            });
        });
    }
    mapApi;

</script>
</body>
</html>
